---
import Plausible from "./Plausible.astro";

---
<!doctype html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="SQL Query Generator - Generate type-safe code from SQL queries for Java and TypeScript" />
		<title>SQL Query Generator</title>
	</head>
	<body class="m-0 w-full h-full">
		<slot />
	</body>
	<Plausible />
</html>
